.swiper-wrapper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   position: relative;
   height: 100% !important;
   width: 100%;
   border-radius: 20px;
   overflow: hidden;
}
